#root {
  width: 100vw;
  height: 100vh;
  position: fixed;
  overflow-y: auto;
}
@keyframes animate-title {
  0% {
    rotate: 10deg;
  }
  50% {
    rotate: -10deg;
  }
  100% {
    rotate: 10deg;
  }
}
.animate-title {
  animation: animate-title forwards infinite 2s ease-in-out;
  font-size: var(--fontSize-xl5);
}

.board {
  display: flex;
  flex-wrap: wrap;
  width: 324px;
  height: 324px;
}
@keyframes animate-cell {
  from {
    scale: 0;
  }
  to {
    scale: 1;
  }
}
.cell {
  width: 100px;
  height: 100px;
  border: var(--spacing-s) solid white;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: var(--spacing-m);
  margin: var(--spacing-s);
  font-size: var(--fontSize-xl);
  svg {
    animation: animate-cell forwards 0.5s ease-in-out;
  }
}
